# User-specific files
*.xcuserstate
*.xcuserdata/

# Build artifacts
build/
DerivedData/

# Logs
*.log

# Temporary and system files
.DS_Store
*.swp
*.lock

# Ignore Swift Package Manager resolved file
**/Package.resolved

# CocoaPods 관련 파일 제외
Pods/
*.xcworkspace
*.lock
xcuserdata/
xcshareddata/
DerivedData/
.idea/